#skill{
display: flex;
justify-content: space-around;
padding: 40px;

color: turquoise;
}
#content{
    background-color: #020c1b;
    padding:40px;
    
    
    

}

.col-container{
    display: flex;
  
    
}
.col{
    flex: 1;
    
    }
    #head{
        padding:10px;
    }